# See https://github.com/marketplace/actions/close-stale-issues
# Mark issues as stale if they're open with no activity for 1 day
# Closed marked issues after 3 days.
  
name: close-stale-issues

on:
  schedule:
    - cron: "0 0 * * 4"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
<<<<<<< HEAD
          stale-issue-message: 'Thanks for sharing your feedback. We apologize for our delayed response. Throughout 2024 we are phasing out Git issues as the feedback mechanism on content and replacing it with a new feedback system. If you believe your feedback needs to be reviewed prior to closing, then respond directly in this issue and we’ll take a look at it. If no activity occurs in the next 7 days, this issue will be closed.'
=======
          stale-issue-message: 'Thanks for sharing your feedback. We apologize for our delayed response. Throughout 2024 we are phasing out GitHub issues as the feedback mechanism on documentation content and replacing it with a new feedback system. If you believe your feedback needs to be reviewed prior to closing, then respond directly in this issue and we’ll take a look at it. If no activity occurs in the next 7 days, this issue will be closed.'
>>>>>>> e7e46f5af59eeac7869b8bd32f71f45f718c2e1e
          close-issue-message: 'This issue is closed. If you feel this issue has been closed in error, please submit a new comment on the issue, and we will review it.'
          stale-issue-label: 'stale'
          close-issue-label: 'auto-close'
          exempt-issue-labels: 'exempt,P1'
          remove-stale-when-updated: true
          days-before-close: 7
          days-before-issue-stale: 20
          days-before-pr-stale: -1
          operations-per-run: 500
